<html>

<head>
    <style>
        ul li {
            list-style: none;
        }
        </style>
</head>

<body>
    <form method='POST' action="/saveproduct">
        {% csrf_token %}
        <ul>
            <li>id.........: <input type="text" name="pid"></li>
            <li>product: <input type="text" name="pproduct"></li>
            <li>name....: <input type="text" name="pname"></li>
            <li>price.....: <input type="text" name="pprice"></li>
            <li><input type="submit" value="submit"></li>
        </ul>
    </form>
</body>

</html>